.gallery {
  display: flex;
  justify-content: space-between;
}

.col {
  display: inline-block;
  /*width: 10%;*/
  /*padding: 2px;*/
}

.gallery-image {
  height: 100px;
}

.featured-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
